* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202225;
    color: white;
}

.card, .modal-content {
    background-color: #36393f;
}
.card-text {
    height: 70px;
    overflow-y: scroll;
}

.chat-text {
    background-color: #36393f;
}
.chat-wrapper {
    height: 80vh;
    overflow-y: scroll;
}

.form-control, .form-control:focus{
    background-color: #4f545c;
    color: white;
    border: none;
}